# Ignore everything by default
# TODO: this is a bad idea!!
# *

# Then whitelist
!.bin/
!.config/
!.config/backgrounds/
!.config/hypr/
!.icons/
!admin/
!.gitconfig
!.gitk
!.gitmodules
!.gtkrc
!.gtkrc-2.0
!.mdpconf
!.zshrc
!README.md

