*.sw?
*.o
.Xdefaults
.NERDTreeBookmarks
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/BraveSoftware/
.config/dconf/
.config/discord/
.config/pulse/
.config/pavucontrol.ini
.gnupg/
.lesshst
.local/
.mozilla/
.profile
.ssh/
.tig_history
.viminfo
.wget-hsts
.histfile
.wine/
.zcompdump*
.zshenv
.zsh_history
dev/
Downloads/
Documents/
Games/

