[user]
	name = Stephen Shelton
	email = stephen@stephenashelton.com
[core]
	excludesfile = /home/stephen/.gitignore
[receive]
	denyCurrentBranch = warn
[push]
	default = simple
[pager]
	diff = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -c 'setlocal buftype=nofile' -"

