[user]
	name = Stephen Shelton
	email = steve@brewcraft.org
	signingkey = EE4BADACCE8B631C
[core]
	excludesfile = /home/stephen/.gitignore
[receive]
	denyCurrentBranch = warn
[push]
	default = simple
[pager]
	diff = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -c 'setlocal buftype=nofile' -"
	color = false
	show = vim -R -

[commit]
	gpgsign = true
[gpg]
	program = gpg
