*.sw?
*.o
.Xdefaults
.NERDTreeBookmarks
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/BraveSoftware/
.config/dconf/
.config/discord/
.gnupg/
.lesshst
.local/
.mozilla/
.ssh/
.viminfo
.wget-hsts
.histfile
.zsh_history
dev/
Downloads/
Documents/

