#accessors
snippet acc
	/**
	 * Sets $4
	 *
	 * @param $2 is the new value for $4
	 */
	public void set${4:Name}( ${1:Type} ${2:name} ) { ${3:_$2} = $2; };

	/**
	 * Returns $4
	 *
	 * @return $4
	 */
	public $1 get$4() { return $3; };

