* {
  border: none;
  border-radius: 0;
  font-family: "Hack";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #282c34;
  opacity: 0.8;
  color: #dcdfe4;
}

#window {
  font-family: "Hack";
  margin-top: 5px;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #dcdfe4;
  border-top: 2px solid;
}

#workspaces button.focused {
  color: #dcdfe4;
  border-top: 2px solid #dcdfe4;
}

#workspaces button.urgent {
  color: #e5c07b;
}

#tray,
#language,
#backlight,
#custom-media,
#custom-profile,
#custom-ro,
#custom-utc,
#custom-weather,
#temperature,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
  padding: 1px 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: #dcdfe4;
  border: 1px solid rgba(220, 223, 228, 0.3);
  background-color: rgba(0, 43, 54, 0.45);
}

#language {
  /* workaround for: https://github.com/Alexays/Waybar/issues/952 */
  min-width: 70px;
}

#temperature.critical {
  color: red;
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: #dcdfe4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: #f53c3c;
}

.modules-center {
  padding: 1px 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: #e9c46a;
  border: 1px solid rgba(233, 196, 106, 0.3);
  background-color: rgba(7, 54, 66, 0.45);
}
